<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Chat Support</h4>
            </div>
 
          </div>

          <div class="people_his">
          <div class="chat" *ngFor="let chat of chats">
            <div *ngIf="chat.key !== topic;
                        then chat_unactive;
                        else chat_active"
            ></div>
            <ng-template #chat_active>
              <div (click) = "chatSelect(chat.key)" class="chat_list active_chat bg_active">
                <div class="chat_people ">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>{{ chat.clientInfo.clientName }}<span class="chat_date"></span></h5>
                    <div
                        *ngIf="chat.listContent[chat.listContent.length - 1].userName !== serverName;
                              then incoming_user;
                              else outgoing_user"
                    ></div>
                    <ng-template #incoming_user>
                      <p class="unread_msg">{{chat.listContent[chat.listContent.length - 1].message}}</p>
                    </ng-template>
                    <ng-template #outgoing_user>
                      <p>{{chat.listContent[chat.listContent.length - 1].message}}</p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #chat_unactive>
              <div (click) = "chatSelect(chat.key)" class="chat_list active_chat">
                <div class="chat_people ">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>{{ chat.clientInfo.clientName }}<span class="chat_date"></span></h5>
                    <div
                        *ngIf="chat.listContent[chat.listContent.length - 1].userName !== serverName;
                              then incoming_user;
                              else outgoing_user"
                    ></div>
                    <ng-template #incoming_user>
                      <p class="unread_msg">{{chat.listContent[chat.listContent.length - 1].message}}</p>
                    </ng-template>
                    <ng-template #outgoing_user>
                      <p>{{chat.listContent[chat.listContent.length - 1].message}}</p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        </div>

        <div class="headind_srch">
          <div class="chat_people recent_heading">
            <div class="chat_img_active"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="chat_ib chat_ib_active">
              <h5>{{clientName}}</h5>
              <p>...</p>
            </div>
          </div>
        </div>
        
        <div class="mesgs">
          <div class="msg_history" #scrollMe >
            <li class="message" *ngFor="let content of contents">
              <div
              *ngIf="
                content.userName !== serverName;
                then incoming_msg;
                else outgoing_msg
              "
              ></div>
              <ng-template #incoming_msg>
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p tooltip="{{content.crtDate | date:'medium'}}" placement="left" delay="5">{{content.message}}</p>
                  </div>
                </div>
              </div>
              </ng-template>

              <ng-template #outgoing_msg>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p tooltip="{{content.crtDate | date:'medium'}}" placement="left" delay="5">{{content.message}}</p>
                </div>
              </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage()">
              <input
                type="text"
                class="write_msg"
                placeholder="Nhập tin nhắn..."
                name="newMessage"
                [(ngModel)]="newMessage"
              />
            </form>
            <button class="msg_send_btn" type="button" (click)="sendMessage()">
              <svg class="icon_send" height="36px" width="36px" viewBox="0 0 36 36"><g fill="none" fill-rule="evenodd"><g><polygon points="0 36 36 36 36 0 0 0"></polygon><path d="M31.1059281,19.4468693 L10.3449666,29.8224462 C8.94594087,30.5217547 7.49043432,29.0215929 8.17420251,27.6529892 C8.17420251,27.6529892 10.7473302,22.456697 11.4550902,21.0955966 C12.1628503,19.7344961 12.9730756,19.4988922 20.4970248,18.5264632 C20.7754304,18.4904474 21.0033531,18.2803547 21.0033531,17.9997309 C21.0033531,17.7196073 20.7754304,17.5095146 20.4970248,17.4734988 C12.9730756,16.5010698 12.1628503,16.2654659 11.4550902,14.9043654 C10.7473302,13.5437652 8.17420251,8.34697281 8.17420251,8.34697281 C7.49043432,6.9788693 8.94594087,5.47820732 10.3449666,6.1775158 L31.1059281,16.553593 C32.298024,17.1488555 32.298024,18.8511065 31.1059281,19.4468693" fill="#0099ff"></path></g></g></svg>
            </button>
          </div>
        </div>
      </div>
    </div></div>
    </body>
    </html>
