.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  height: 100vh;
  background: #fff none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%; 
  border-right:0.9px solid #c4c4c4;
}
.inbox_msg {
  cursor: pointer;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:100%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ height: 60px; padding:10px 29px 10px 20px; overflow:hidden; border-bottom:0.9px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{     
  font-family: inherit;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  margin-bottom: 0px;
}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p { 
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0px;
}
.chat_img {
  float: left;
  max-height: 40px;
  max-width: 40px;
}
.chat_ib_active h5{
    margin-bottom: 0px;
    font-family: inherit;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}
.chat_img_active {
  float: left;
  max-height: 40px;
  max-width: 40px;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 75%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { 
    height: 90vh;
    background: #fff;
    overflow-y: scroll;}

.incoming_msg_img {
  display: inline-block;
  max-height: 28px;
  max-width: 28px;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background-color: #f1f0f0;
  border-top-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  padding: 6px 12px 7px;
  width: fit-content;
  max-width: 85%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { max-width: 85%;}
.mesgs {
  float: left;
  padding: 0px 15px 0 25px;
  width: 70%;
  height: 90vh;
}

 .sent_msg p {
  float: right;
  background-color: rgb(0, 153, 255);
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 6px 12px 7px 10px;
  border-top-right-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-top-left-radius: 1.3em;
  width: fit-content;
  max-width: 85%;
}
.outgoing_msg{ overflow:hidden; margin:2px 0 2px;}
.sent_msg {
  float: right;
  padding-right: 4%;
  width: 40%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {position: relative;}
.msg_send_btn {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 36px;
    position: absolute;
    right: 10px;
    top: 11px;
    width: 36px;
    outline: none;
}
.people_his {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  height: 555px;
  overflow: auto;
}
.msg_history {
  height: 79vh;
  overflow: auto;
}
.message {
  list-style-type: none;
}
::-webkit-scrollbar {
  display: none;
}

.input_msg_write input {
  background-color: #f1f0f0;
  border-radius: 18px;
  display: flex;
  flex: 1 1 auto;
  margin: 8px 8px 8px 0;
  width: 100%;
  padding: 0 8px 0 12px;
  outline: none;
}

.icon_send{
  position: absolute;
  top: -2px;
  right: 2px;
}

.bg_active {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 10px;
  min-width: 0;
  margin: 5px 10px 5px 10px;
}

.unread_msg {
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 500 !important;
}